

#donutWithSprinkles {
    width: 200px;
    height: 200px;
    display:block;
    margin: 0 auto;

}
.container {
    font-family: sans-serif;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.child {
   
    text-align: center;
}

p {
    text-align: center;
}
img {
   display: block;
   margin: 0 auto;
}

.auto-maker {
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.5;
    transition: opacity 1s;
}



body {
    margin: 100px;
    padding: 20px;
}

